@import "../../common/mixins.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  margin: 3.2rem;
  border-radius: 0.9rem;
  flex-grow: 1;
  background-color: var(--color-blue-dark);
  max-width: 85rem;
  padding: 3.2rem;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6.4rem;

  @include respond(tab-pot) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 3.2rem;
  }

  @include respond(phone) {
    padding: 4.8rem 2.4rem 2.4rem 2.4rem;
    gap: 2.4rem;
  }
}

.img_box {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  border-radius: 0.9rem;

  @include respond(tab-pot) {
    height: 100%;
  }
}

// will make image landscape for smallers screens
.img_pot {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @include respond(tab-pot) {
    display: none;
  }
}

.img_land {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;

  @include respond(tab-pot) {
    display: block;
  }
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @include respond(tab-pot) {
    gap: 2.4rem;
  }

  @include respond(phone) {
    gap: 2.4rem;
  }
}

.title {
  font-size: 3.8rem;
  line-height: 1.2;

  @include respond(tab-pot) {
    text-align: center;
    font-size: 3.2rem;
  }
}

.sypnosis {
  &__text {
    line-height: 1.5;
    font-size: 1.6rem;
  }
}

.heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn:link,
.btn:visited {
  margin-top: auto;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-red);
  font-weight: 400;
  padding: 1.6rem;
  border-radius: 0.9rem;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  background-color: var(--color-white);
  color: var(--color-red);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.genre {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-red);
  background-color: var(--color-white);
  padding: 0.4rem 1.2rem;
  border-radius: 0.9rem;
}

.close {
  transform: scale(0.7);
  position: absolute;
  top: 1rem;
  right: 1rem;
  fill: var(--color-white);
  cursor: pointer;
  display: none;

  @include respond(phone) {
    display: block;
    transform: scale(0.5);
    top: 0.8rem;
    right: 0.8rem;
  }
}
