.container {
  // display: flex;
}

.card {
  background-color: red;
  width: 45rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s;
  }

  &:hover &__img {
    transform: scale(1.1);
  }
}

.details {
  position: absolute;
  bottom: 1.8rem;
  left: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.info {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.release_date {
}

.category {
  display: flex;
  align-items: center;

  &__icon {
    fill: var(--color-white);
    transform: scale(0.6);
  }

  &__name {
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
}
