.card {
  background-color: red;
  width: 45rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s;
  }

  &:hover &__img {
    transform: scale(1.1);
  }
}

.details {
  position: absolute;
  bottom: 1.8rem;
  left: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.info {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-weight: 400;

  color: var(--color-white);
}

.release_date {
  position: relative;

  &::after {
    content: ".";
    position: absolute;
    top: -50%;
    transform: translateY(25%);
    margin-left: 0.4rem;
  }
}

.category {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  &__icon {
    width: 1rem;
    display: block;
  }

  &__name {
    &::after {
      content: ".";
      position: absolute;
      top: -50%;
      transform: translateY(25%);
      margin-left: 0.4rem;
    }
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 500;
}
