.app {
  display: grid;
  grid-template-columns: 9.5rem 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
  padding: 3.2rem;
}

.header {
  grid-row: span 2;

  // background-color: white;
}

.search {
  // background-color: red;
}

.main {
  // background-color: pink;
}
