@import "./common/mixins.scss";

.app {
  display: grid;
  grid-template-columns: 9.5rem 1fr;
  padding: 3.2rem;
  column-gap: 3.2rem;
  row-gap: 3.2rem;

  @include respond(tab-land-min) {
    grid-template-rows: 8rem;
    grid-template-columns: 1fr;
  }

  @include respond(phone) {
    padding: 0;
    row-gap: 2.4rem;
  }
}

.header {
  grid-row: span 2;

  @include respond(tab-land-min) {
    grid-row: 1;
  }
}

.search {
  // padding: 0 3.2rem;
  @include respond(phone) {
    padding: 0rem 2.4rem;
  }
}

.main {
  // padding: 0 3.2rem;
  @include respond(phone) {
    padding: 0rem 2.4rem;
  }
}
